<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="forms">
            <h1 class="fs-1">login Form</h1>

            <form (ngSubmit)="login()">

                <i class="fa-solid fa-1x fa-user"></i>
                <input [(ngModel)]="acno" name="acno" type="text" placeholder="account" id="acno"><br>
                <i class="fa-solid fa-1x fa-key"></i>
                <input [(ngModel)]="pswd" name="pswd" type="password" placeholder="password" id="pswd"><br>
                <a href="#">Forgot Password?</a><br><br>
                 <!-- click is an even binding (event name)="function call()" -->
                <button type="submit"  class="btn btn-outline-dark fs-5">Login</button><br>
                <p>Dont have an account?</p>
                <a routerLink="register"><button type="button" class="btn btn-outline-secondary">Register here</button></a>

            </form>
        </div>
    </div>
    <div class="col-4">{{aim}}</div>
</div>
