<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="forms">
            <h1 class="fs-1">login Form</h1>

            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <div>
                <i class="fa-solid fa-1x fa-user"></i>
                <input formControlName="acno" name="acno" type="text" placeholder="account" id="acno"><br>
              </div>
                <div *ngIf="this.loginForm.get('acno')?.touched&&this.loginForm.get('acno')?.errors">Invalid accountnumber</div>
                <i class="fa-solid fa-1x fa-key"></i>


                <input formControlName="pswd" name="pswd" type="password" placeholder="password" id="pswd"><br>
                <div *ngIf="this.loginForm.get('pswd')?.touched&&this.loginForm.get('pswd')?.errors">Invalid password</div>

                <a href="#">Forgot Password?</a><br><br>

                 <!-- click is an even binding (event name)="function call()" -->
                <button type="submit"  class="btn btn-outline-dark fs-5">Login</button><br>
                <p>Dont have an account?</p>
                <a routerLink="register"><button type="button" class="btn btn-outline-secondary">Register here</button></a>

            </form>
        </div>
    </div>
    <div class="col-4">{{aim}}</div>
</div>
