/* 
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
body{
    background: url(./assets/FF.jpg);
    background-size: cover;
    background-position: center;
}
.forms{
   margin-top: 180px; 
    width: auto;
    border: 1px solid black;
    margin-left: 30px;
    padding-left: 50px;
}
h1{
    font-family: 'Playfair Display', serif;
text-shadow: 2px black;    
}

.forms input{
    width: 50%;
    margin-bottom: 20px;
}
.forms input[type="text"], input[type="password"]{
    margin-left: 0px;
    border: none;
    outline: none;
    height: 40px;
    border-bottom: 1px solid black;
    background: transparent;
}
::placeholder{
    color: black;
}
.forms button{
    width: 50%;
    margin-left: 20px;
    margin-bottom: 20px;

}
a{
    color: black;
}
p{
    font-size: large;
    font-family:'Playfair Display', serif; ;
}   */
